/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-nov-2013, 12:25:06
    Author     : juan
*/
body {
    background-color: whitesmoke;
}

#logo {
    display: block;
    text-align: center;
    margin: .5em;
}

p {
    font-family: Arial Sans Serif;
    font-size: 1.2em;
    text-align: center;
    padding: .5em;
}

hr {
    margin-bottom: 2em;
}

#container {
    width: 500px;
    height: 500px;
    padding: .5em;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px grey;
    background-color: white;
    font-family: Arial Sans Serif;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -250px;
}

label {
    margin-left: 1em;
    padding: .5em;
}

input {
    border-radius: 5px;
    padding: .5em;
}

#button {
    margin: .5em;
    margin-top: .5em;
    margin-left: 2em;
}
